<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
  <title>Pics Main Page</title>
  <style type="text/css">
  body {
    padding-left: 11em;
    font-family: Georgia, "Times New Roman",
          Times, serif;
    color: purple;
    background-color: #EFFBFB }
  ul.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em }
  h1 {
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif }
  ul.navbar li {
    background: white;
    margin: 0.5em 0;
    padding: 0.3em }
  ul.navbar a {
    text-decoration: none }
  a:link {
    color: blue }
  a:visited {
    color: purple }
  </style>

</head>
<!-- Site navigation menu -->
<ul class="navbar">
  <h3>Welcome: <%= settings.username %></h3>
  <li><a href="/folder_list">My Folders</a>
  <li><a href="createfolder.html">Create Folder</a>
  <li><a href="/upload_image">Upload Image</a>
  <li><a></a>
  <li><a></a>
  <li><a></a>
  <li><a></a>
  <li><a href="/logout">logout</a>
<a href="#" onclick="window.open('createfolder.html', 'win', 'width=400,height="400"')">
</a>
  <!--<li><a href="links.html">Links</a>-->

  <!--<li><button name="Add Folder" type="Add">Add Folder</button></a>-->
</ul>
<table>
    <form action='#' method='post'>
        <tr>
            <!--<td>Item 1</td>-->
     

             <!--<input type="submit" name="submit" value="Set Ships">
            <input type="button" name="sel" value="Select all" !--onclick="alert('Not Allowed.');">
            <input type="button" name="desel" value="Deselect all" onclick="alert('Not Alloowed.');">-->
        </tr>
    </form>
</table>

<!-- Main content -->
<h1>PICS</h1>
<!--<p>Welcome to PICs Page!-->

</html>