<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
  <title>Upload Image</title>
  <style type="text/css">
  body {
    padding-left: 11em;
    font-family: Georgia, "Times New Roman",
          Times, serif;
    color: purple;
    background-color: #EFFBFB }
  ul.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em }
  h1 {
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif }
  ul.navbar li {
    background: white;
    margin: 0.5em 0;
    padding: 0.3em }
  ul.navbar a {
    text-decoration: none }
  a:link {
    color: blue }
  a:visited {
    color: purple }
  </style>

</head>

	<!-- Head -->
	<h1>Upload Image</h1>
  <table>
  	<form action='/upload' enctype="multipart/form-data" method='POST'>
      <tr>
        <strong>Folder: </strong>


        <select>
          <% for folder in @folders %>
                 <option value=<%=folder.folder_id %>><%=folder.name %></option>

          <% end %>
      	</select>
      
      </tr> 
      <BR> <BR>
      <tr>
      	<input name="file" type="file" />
               
      	<input type="button" value="Upload" />
      </tr> 
  	</form>

  </table>
  <a href="/MainPage">Back to Main</a>
</html>